*{
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    font-family: 'Outfit', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


body{
    max-width: 1440px;
    
}

.container{
  
}